@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,400i|Pacifico&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #f7f7f7;
    color: #222;
    margin: 0;
    padding: 0 10vw;
}
h1 {
    font-family: 'Pacifico', cursive;
    color: #2b6777;
    font-size: 2.5em;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #52ab98;
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
summary, strong {
    font-family: 'Montserrat', sans-serif;
    color: #52ab98;
    font-size: 1.3em;
    letter-spacing: 1px;
}
ol, li, ul {
    font-size: 1.1em;
    line-height: 1.7;
}
details {
    margin-bottom: 20px;
}
hr {
    border: 0;
    border-top: 1px solid #52ab98;
    margin: 30px 0;
}
p, a {
    font-size: 1.1em;
    line-height: 1.6;
}
a {
    color: #52ab98;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.highlight {
    color: #52ab98;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}